/.gitignore
/.Rproj.user
posts/*
!posts/templatepost/
!posts/zzedc_independence/
about/*
blog/*
software/*
talks/*
teaching/*
misc/*
!misc/index.qmd
publications/*
README.md
_freeze
notes.txt
profile.jpg
qblog.Rproj
styles.css

/.quarto/

**/.claude/settings.local.json

**/*.quarto_ipynb
