[submodule "posts/01-configtermzsh/configtermzsh"]
	path = posts/01-configtermzsh/configtermzsh
	url = https://github.com/rgt47/configtermzsh.git
[submodule "posts/02-githubarchive/githubarchive"]
	path = posts/02-githubarchive/githubarchive
	url = https://github.com/rgt47/githubarchive.git
[submodule "posts/03-installmintonmacbook/installmintonmacbook"]
	path = posts/03-installmintonmacbook/installmintonmacbook
	url = https://github.com/rgt47/installmintonmacbook.git
[submodule "posts/04-lowercasingdataframes/lowercasingdataframes"]
	path = posts/04-lowercasingdataframes/lowercasingdataframes
	url = https://github.com/rgt47/lowercasingdataframes.git
[submodule "posts/05-lssinceutility/lssinceutility"]
	path = posts/05-lssinceutility/lssinceutility
	url = https://github.com/rgt47/lssinceutility.git
[submodule "posts/06-markdowntoblog/markdowntoblog"]
	path = posts/06-markdowntoblog/markdowntoblog
	url = https://github.com/rgt47/markdowntoblog.git
[submodule "posts/07-multilanguagequartodemo/multilanguagequartodemo"]
	path = posts/07-multilanguagequartodemo/multilanguagequartodemo
	url = https://github.com/rgt47/multilanguagequartodemo.git
[submodule "posts/08-palmerpenguinspart1/palmerpenguinspart1"]
	path = posts/08-palmerpenguinspart1/palmerpenguinspart1
	url = https://github.com/rgt47/palmerpenguinspart1.git
[submodule "posts/09-palmerpenguinspart2/palmerpenguinspart2"]
	path = posts/09-palmerpenguinspart2/palmerpenguinspart2
	url = https://github.com/rgt47/palmerpenguinspart2.git
[submodule "posts/10-palmerpenguinspart3/palmerpenguinspart3"]
	path = posts/10-palmerpenguinspart3/palmerpenguinspart3
	url = https://github.com/rgt47/palmerpenguinspart3.git
[submodule "posts/11-palmerpenguinspart4/palmerpenguinspart4"]
	path = posts/11-palmerpenguinspart4/palmerpenguinspart4
	url = https://github.com/rgt47/palmerpenguinspart4.git
[submodule "posts/12-palmerpenguinspart5/palmerpenguinspart5"]
	path = posts/12-palmerpenguinspart5/palmerpenguinspart5
	url = https://github.com/rgt47/palmerpenguinspart5.git
[submodule "posts/13-palmerpenguinsregression/palmerpenguinsregression"]
	path = posts/13-palmerpenguinsregression/palmerpenguinsregression
	url = https://github.com/rgt47/palmerpenguinsregression.git
[submodule "posts/14-penguins1zzcollab/penguins1zzcollab"]
	path = posts/14-penguins1zzcollab/penguins1zzcollab
	url = https://github.com/rgt47/penguins1zzcollab.git
[submodule "posts/15-piping/piping"]
	path = posts/15-piping/piping
	url = https://github.com/rgt47/piping.git
[submodule "posts/16-plotsfrompurrr/plotsfrompurrr"]
	path = posts/16-plotsfrompurrr/plotsfrompurrr
	url = https://github.com/rgt47/plotsfrompurrr.git
[submodule "posts/17-rapidconversionRtoRmd/rapidconversionRtoRmd"]
	path = posts/17-rapidconversionRtoRmd/rapidconversionRtoRmd
	url = https://github.com/rgt47/rapidconversionRtoRmd.git
[submodule "posts/18-rcodepackageupdating/rcodepackageupdating"]
	path = posts/18-rcodepackageupdating/rcodepackageupdating
	url = https://github.com/rgt47/rcodepackageupdating.git
[submodule "posts/19-rctvalidationlang/rctvalidationlang"]
	path = posts/19-rctvalidationlang/rctvalidationlang
	url = https://github.com/rgt47/rctvalidationlang.git
[submodule "posts/20-researchbackupsystem/researchbackupsystem"]
	path = posts/20-researchbackupsystem/researchbackupsystem
	url = https://github.com/rgt47/researchbackupsystem.git
[submodule "posts/21-researchmanagement/researchmanagement"]
	path = posts/21-researchmanagement/researchmanagement
	url = https://github.com/rgt47/researchmanagement.git
[submodule "posts/22-serversetupawscli/serversetupawscli"]
	path = posts/22-serversetupawscli/serversetupawscli
	url = https://github.com/rgt47/serversetupawscli.git
[submodule "posts/23-serversetupawsconsole/serversetupawsconsole"]
	path = posts/23-serversetupawsconsole/serversetupawsconsole
	url = https://github.com/rgt47/serversetupawsconsole.git
[submodule "posts/24-setupdotfilesongithub/setupdotfilesongithub"]
	path = posts/24-setupdotfilesongithub/setupdotfilesongithub
	url = https://github.com/rgt47/setupdotfilesongithub.git
[submodule "posts/25-setupgit/setupgit"]
	path = posts/25-setupgit/setupgit
	url = https://github.com/rgt47/setupgit.git
[submodule "posts/26-setupneovim/setupneovim"]
	path = posts/26-setupneovim/setupneovim
	url = https://github.com/rgt47/setupneovim.git
[submodule "posts/27-setupobs/setupobs"]
	path = posts/27-setupobs/setupobs
	url = https://github.com/rgt47/setupobs.git
[submodule "posts/28-setupormodifytorrtoolsanalysisrepo/setupormodifytorrtoolsanalysisrepo"]
	path = posts/28-setupormodifytorrtoolsanalysisrepo/setupormodifytorrtoolsanalysisrepo
	url = https://github.com/rgt47/setupormodifytorrtoolsanalysisrepo.git
[submodule "posts/29-setupquarto/setupquarto"]
	path = posts/29-setupquarto/setupquarto
	url = https://github.com/rgt47/setupquarto.git
[submodule "posts/30-setupRvimtex/setupRvimtex"]
	path = posts/30-setupRvimtex/setupRvimtex
	url = https://github.com/rgt47/setupRvimtex.git
[submodule "posts/31-setupyabai/setupyabai"]
	path = posts/31-setupyabai/setupyabai
	url = https://github.com/rgt47/setupyabai.git
[submodule "posts/32-sharermdcodeviadocker/sharermdcodeviadocker"]
	path = posts/32-sharermdcodeviadocker/sharermdcodeviadocker
	url = https://github.com/rgt47/sharermdcodeviadocker.git
[submodule "posts/33-shareshinycodeviadocker/shareshinycodeviadocker"]
	path = posts/33-shareshinycodeviadocker/shareshinycodeviadocker
	url = https://github.com/rgt47/shareshinycodeviadocker.git
[submodule "posts/34-shinyvsobservable/shinyvsobservable"]
	path = posts/34-shinyvsobservable/shinyvsobservable
	url = https://github.com/rgt47/shinyvsobservable.git
[submodule "posts/35-simpleS3/simpleS3"]
	path = posts/35-simpleS3/simpleS3
	url = https://github.com/rgt47/simpleS3.git
[submodule "posts/36-simpleshinyappwithchatgpt/simpleshinyappwithchatgpt"]
	path = posts/36-simpleshinyappwithchatgpt/simpleshinyappwithchatgpt
	url = https://github.com/rgt47/simpleshinyappwithchatgpt.git
[submodule "posts/37-simplevimplugin/simplevimplugin"]
	path = posts/37-simplevimplugin/simplevimplugin
	url = https://github.com/rgt47/simplevimplugin.git
[submodule "posts/38-tableplacementrmarkdown/tableplacementrmarkdown"]
	path = posts/38-tableplacementrmarkdown/tableplacementrmarkdown
	url = https://github.com/rgt47/tableplacementrmarkdown.git
[submodule "posts/39-templatepost/templatepost"]
	path = posts/39-templatepost/templatepost
	url = https://github.com/rgt47/templatepost.git
[submodule "posts/40-testingfordataanalysisworkflow/testingfordataanalysisworkflow"]
	path = posts/40-testingfordataanalysisworkflow/testingfordataanalysisworkflow
	url = https://github.com/rgt47/testingfordataanalysisworkflow.git
[submodule "posts/41-ultisnipspythonpost/ultisnipspythonpost"]
	path = posts/41-ultisnipspythonpost/ultisnipspythonpost
	url = https://github.com/rgt47/ultisnipspythonpost.git
[submodule "posts/42-zzedcindependence/zzedcindependence"]
	path = posts/42-zzedcindependence/zzedcindependence
	url = https://github.com/rgt47/zzedcindependence.git
[submodule "posts/43-dynamic-column-names/dynamic-column-names"]
	path = posts/43-dynamic-column-names/dynamic-column-names
	url = https://github.com/rgt47/dynamic-column-names.git
[submodule "posts/48-ttyd_setup/ttyd_setup"]
	path = posts/48-ttyd_setup/ttyd_setup
	url = https://github.com/rgt47/ttyd_setup.git
