project:
  type: website
  render:
    - "*.qmd"
    - "about/*.qmd"
    - "blog/*.qmd"
    - "white-papers/*.qmd"
    - "research/*.qmd"
    - "teaching/*.qmd"
    - "misc/*.qmd"
    - "posts/*/index.qmd"
    - "posts/drafts.qmd"
    - "!*.R"
    - "!_archive"
    - "!posts/*/analysis/"
    - "!template/"
  output-dir: _site

website:
  title: "Thomas Lab"
  site-url: https://focusonr.org
  repo-url: https://github.com/rgt47/qblog
  open-graph: true
  navbar:
    background: light
    foreground: "#212529"
    left:
      - href: index.qmd
        text: Home
      - href: about/index.qmd
        text: About
      - href: blog/index.qmd
        text: Blog
      - href: white-papers/index.qmd
        text: White Papers
      - href: research/index.qmd
        text: Research
      - href: teaching/index.qmd
        text: Teaching
      - href: misc/index.qmd
        text: Misc
    right:
      - icon: twitter
        href: https://twitter.com/rgt47
      - icon: github
        href: https://github.com/rgt47
  page-footer:
    left: "Copyright 2023-2025, Ronald G. Thomas"
    right:
      - icon: github
        href: https://github.com/rgt47
      - icon: twitter
        href: https://twitter.com/rgt47
  search:
    location: navbar
    type: overlay
    copy-button: true
    limit: 20
    keyboard-shortcut: ["?", "/"]

number-sections: true
format:
  html:
    theme:
      light: [cosmo, custom.scss]
    toc: true
    code-fold: true
    code-tools: false
    code-copy: true
    sidebar: false
    page-layout: full
    html-math-method: katex
    include-in-header:
      file: header.html
    include-after-body:
      file: _includes/after-body.html
    comments:
      utterances:
        repo: rgt47/qblog
        issue-term: pathname
        theme: github-light
  # PDF format disabled for faster development
  # Uncomment to enable PDF generation globally
  # pdf:
  #   documentclass: scrartcl
  #   toc: true
  #   number-sections: true
  #   colorlinks: true
  #   papersize: letter
  #   geometry:
  #     - margin=1in
  #   include-in-header:
  #     text: |
  #       \usepackage{fancyhdr}
  #       \pagestyle{fancy}
  #       \fancyhead[L]{Thomas Lab}
  #       \fancyhead[R]{\thepage}
  #       \fancyfoot[C]{}
  # docx:
  #   toc: true
  #   number-sections: true
  #   highlight-style: github

execute:
  freeze: auto
  pre-render: |
    Rscript -e "if (requireNamespace('conflicted', quietly = TRUE) && requireNamespace('palmerpenguins', quietly = TRUE)) { library(conflicted); conflicts_prefer(palmerpenguins::penguins) }"
