snippet \now "Today"
`date +"%Y-%m-%d %T"`
endsnippet

snippet his "mail sounds good" bA
Hi $1,
	
$0Sounds good.

Best, 
Ron
endsnippet

snippet hiw "mail welcome" bA
Hi $1,
	
$0You're very welcome. 

Best, 
Ron
endsnippet

snippet hit "mail thanks" bA
Hi $1,
	
$0Thanks very much. 

Best, 
Ron
endsnippet

snippet hie "mail elaine murray" bA
Hi Elaine, Murray,$1,
	
$0Thanks very much. 

Best, 
Ron
endsnippet
